@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BasketHall - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/css/grayscale.css" rel="stylesheet">

    <link href="~/Content/NovaTema/logo-avatar-navbar.css" rel="stylesheet" /> <!--za logo u navbaru-->


</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <img src="~/Content/logo/bhlogo.png" alt="Avatar" class="avatarmain navbar-brand js-scroll-trigger">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">BasketHall</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">

                        <a class="nav-link js-scroll-trigger" href="#about">Opis</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#projects">Korisnici</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#signup">Video</a>
                    </li>
                    <li>     </li>
                    <li class="nav-item nav-link js-scroll-trigger">@Html.ActionLink("Registruj se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li class="nav-item nav-link js-scroll-trigger">@Html.ActionLink("Prijavi se", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">BASKETHALL</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Nađi saigrače, odaberi salu i dođi na basket!.</h2>

                <a href="/Account/Login" class="btn btn-primary js-scroll-trigger">Prijavi se</a>
                <a href="/Account/Register" class="btn btn-primary js-scroll-trigger">Registruj se</a>

            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Nemaš ekipu za basket?</h2>
                    <p class="text-white-50">
                        BasketHall je besplatna aplikacija za jednostavno i brzo pronalazenje saigrača za basket. Kreiranjem BasketHall <a href="/Account/Register"> naloga </a> ostvarujete članstvo i u par klika
                        se mozete prijaviti za basket na vašoj omiljenoj lokaciji i terminu.

                </div>
            </div>
            <img src="~/Content/img/ballers1.png" class="img-fluid" alt="">
        </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
        <div class="container">

            <!-- Featured Project Row -->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7">
                     <img class="img-fluid mb-3 mb-lg-0" src="~/Content/img/bg-masterhead.png" alt=""> 
                    
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Košarkaške sale</h4>
                        <p class="text-black-50 mb-0"> Odaberi salu koja ti najviše odgovara, pridruzi se jednom od slobodnih termina i zaigraj! Baskethall pruza rangiranje svih korisnika a i rangiranje sala po kvalitetu usluge.</p>
                    </div>
                </div>
            </div>

            <!-- Project One Row -->
            <h4>Korisnici</h4>
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/Content/img/demo-image-01.jpeg" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Igrači</h4>
                                <p class="mb-0 text-white-50">Korisnici se prilikom registracije prijavljuju kao igrači i dobijaju mogucnost pregleda svih sportskih sala u svom gradu kao i uvid u sve prijavljene igrače sa kojima mogu da zaigraju.</p>
                                <hr class="d-none d-lg-block mb-0 ml-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Two Row -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/Content/img/demo-image-02.jpg" alt="">
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Upravnici sala</h4>
                                <p class="mb-0 text-white-50">Menadzeri sportskih sala imaju mogućnost dodavanja sala koje vode i objavljivanja slobodnih termina u njima kako bi unapredili svoje poslovanje i povećali iskorišćenost slobodno definisanih termina.</p>
                                <hr class="d-none d-lg-block mb-0 mr-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
        <div class="container">
            <div class="row">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N3U1MrCH37U" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
   
    <!-- Contact Section -->
    <section class="contact-section bg-black">
        <div class="container">

            <div class="row">

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Adresa</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">ul.  Generala Tranijea 19, 18000 Niš, SRB</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">
                                <a href="mailto: abc@example.com">baskethallapplication@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Telefon</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">+381 6 (066)-936-0369</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="social d-flex justify-content-center">
                <a href="https://www.youtube.com/channel/UCtqvF35gJKGBkJPH1PN7u5w/featured" class="mx-2">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://www.facebook.com/BasketHall-106577701115777" class="mx-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/baskethallapp/?hl=en" class="mx-2">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>

        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
        <div class="container">
            Copyright &copy; UperTeam 2020
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Content/js/grayscale.min.js"></script>

    <div> @RenderBody();</div>
    @RenderSection("scripts", required: false)
</body>

</html>


