.avatar {
    vertical-align: middle;
    width: 40px;
    height: 50px;
    border-radius: 50%;
}

.avatarmain {
    vertical-align: middle;
    width: 42px;
    height: 55px;
    border-radius: 50%;
}

.avatar2 {
    vertical-align: middle;
    width: 40px;
    height: 50px;
    border-radius: 50%;
}
.avatarComment {
    position: relative;
    height: 60px;
    width: 60px;
    margin: 50px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all 0.3s ease;
}
    .avatarComment:hover .profile-pic {
        opacity: 0.5;
    }

    .avatarComment .profile-pic {
        height: 100%;
        width: 100%;
        transition: all 0.3s ease;
    }



    .avatarComment .upload-button {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

        .avatarComment .upload-button .fa-arrow-circle-up {
            position: absolute;
            font-size: 234px;
            top: -17px;
            left: 0;
            text-align: center;
            opacity: 0;
            transition: all 0.3s ease;
            color: #34495e;
        }
