@model KosSala.Models.ApplicationUser
@{
    ViewBag.Title = "ObrisiKorisnik";
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}



@using (Html.BeginForm("ObrisiKorisnik", "Administrator", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/black-tie/jquery-ui.css">
    @Html.HiddenFor(model => model.Id)
    @Html.Label("Da li stvarno želite da obrišete korisnika?")
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            <input type="submit" value="Potvrdi" class="btn btn-primary pull-left">
            @Html.ActionLink("Otkaži", "SviKorisnici", "Administrator", new { @class = "btn btn-warning otkazi pull-right  " })
        </div>
    </div>
    
}
<style>
    .otkazi{
        float:right;
    }
</style>